*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
#out{
    display: flex;
    display: grid;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 15px;
    background-color: 092635;
    margin: auto;
    border-radius: 5px;
    grid-template-areas: "first second third"
                         "fourth fifth third"
                         "seventh seventh third";
              

}

#person{
    color: rgb(120, 160, 131);
}

@media screen and (max-width:941px){
    #out{
        gap: 100px;
    grid-template-areas: "third"
                        "third"
                         "third"
                         "second"
                          "seventh"
                         "fourth"
                         "fifth"
                         "sixth"
                         "first";
    }

}

body{
    background-color: rgb(9, 38, 53);
}


#graph{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: 25vw;
    height: 80%;
    border-radius: 15px;
    padding:23px;
}

#re{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: 20vw;
    height: 30vh;
    border-radius: 15px;
}

#in{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: 20vw;
    height: 30vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}



#president{
    text-align: center;
}
#rw{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name{
    text-align: center;
    color: black;
}

#balloon{
    width: 10%;
}

#clg{
    width: 8%;
}

#location{
    width: 10%;
}

#ab{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: 25vw;
    height: 30vh;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:25px;
    font-weight: 600;
    font-size: larger;
}
#in:hover{
    background-color: rgb(53, 55, 75);
}
#ab:hover{
    background-color:rgb(92, 131, 116);
}
#t:hover{
    background-color: rgb(92, 131, 116);
}
#aboutme:hover{
    background-color: rgb(92, 131, 116);
}
#graph:hover{
    background-color:rgb(92, 131, 116);
}
#profile:hover{
    background-color:rgb(92, 131, 116);
}
#a:hover{
    background-color: rgb(92, 131, 116);
}
#re:hover{
    background-color: rgb(92, 131, 116);
}
#rw:hover{
    background-color: rgb(92, 131, 116);
}

ul{
    /* padding: 30%; */
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: larger;
    
}

#pp{
    height: 35%;
    margin-top: 70%;
    margin-left: 22%;
}

#t{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    background-color: rgb(27, 66, 66);
    width: 20vw;
    height: 30vh;
    border-radius: 10%;
    padding:25px;
}

#profile{
    height: 40%;
}

#add{

}

#info{
    height: 30%;
}

#email{
    height: 10%;
}

#bar1{
    height:1vh;
    width: 80%;
    background-color: rgb(151, 165, 42);
    border-radius: 10px;
    animation: fill1 2s  0.5s 1 ease;
}

#bar2{
    height:1vh;
    width: 70%;
    background-color: rgb(165, 42, 42);
    border-radius: 10px;
    animation: fill2 2s  0.5s 1 ease;
}

#bar3{
    height:1vh;
    width: 40%;
    background-color: rgb(42, 165, 140);
    border-radius: 10px;
    animation: fill3 2s  0.5s 1 ease;
}


#bar4{
    height:1vh;
    width: 60%;
    background-color: blue;
    border-radius: 10px;
    animation: fill4 2s  0.5s 1 ease;
}

@keyframes fill1 {
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
}
@keyframes fill2 {
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
    
}
@keyframes fill3 {
    0%{
        width:0%;
    }
    100%{
        width:40%;
    }
    
}
@keyframes fill4 {
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
    
}

#skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: first;
}

#interest{
    grid-area: second;
    
}

#headSkill{
    text-align: center;
}

#aboutme{
    transition-duration: 0.21s;
    color: rgb(158, 200, 185);
    padding: 10% 10% 10% 10%;
    width: 30vh;
    background-color: rgb(27, 66, 66);
    grid-area: third;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#email{
   
    color: rgb(45, 149, 150);
    padding: 7%;
}

#sgraph{
    width: 75%;
    height: 75%;
    border: none;
    margin-top: 10%;
    margin-right: 40%;
}

#info{

}

#achieve{
    grid-area: fifth;
}

#reach{
    grid-area: sixth;
}

#rewards{
    grid-area: seventh;
}

.projects{
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 13px;
}

.a{
    transition-duration: 0.21s;
    width: 350px;
}

.a:hover{
    width: 360px;
    cursor: pointer;
}

h3{
    color:rgb(120, 160, 131);
}

.barc{
    color: black;
}

